# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
workshop/dist
workshop/tmp

# dependencies
workshop/node_modules
workshop/bower_components

# misc
workshop/.sass-cache
workshop/connect.lock
workshop/coverage/*
workshop/libpeerconnection.log
workshopnpm-debug.log
workshoptestem.log
.DS_Store
